# ======================
# PyCharm
# ======================
.idea/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints/

# ======================
# Virtual Environment
# ======================
venv/
.venv/
env/

# ======================
# Environment Files
# ======================
.env

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Temporary Files
# ======================
*.tmp
*.log